* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.contenuto {
    padding: 10px;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
}

.sb-center {
    justify-content: space-between;
    align-items: center;
}

img {
    height: 50px;
    border-radius: 50%;
}

/*********
MOBILE FIRST
**********/
body {
    height: 100vh;
    display: flex;
    background: linear-gradient(#019789 15%, #d9dbd5 15%, #d9dbd5 85%);
    
}

.container {
    width: 100%;
    display: flex;
}

/* COLONNA SINISTRA */

#col-sx {
    display: none;
}

/* RUBRICA */

.stato {
    font-size: 10px;
    color: rgb(81, 56, 56);
}

.ora {
    align-self: flex-start;
    font-size: 8px;
    color: gray;
}

/* COLONNA DESTRA */

#col-dx {
    width: 100%;
    background-color: white;
}

/* IMG + CONTATTO */

.contatto {
    height: 70px;
}

.specifiche {
    padding-left: 20px;
}

.nome {
    font-size: 17px;
}

.accesso {
    font-size: 12px;
    color: gray;
}

.icone {
    display: none;
}

/* MESSAGGI */

.mess {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
}

/* SCRIVI TESTO + INVIA */

.invia {
    height: 70px;
    background-color: blanchedalmond;
}



/*********
MEDIA TABLET
**********/
@media screen and (min-width: 576px) {

    /* COLONNA SINISTRA */

    #col-sx {
        display: block;
        width: 10%;
    }

    #col-sx .me {
        height: 70px;
        background-color: white;
    }

    /* RUBRICA*/

    .rubrica {
        overflow: auto;
    }

    #col-sx .rubrica {
        height: calc(100% - 70px);
        background-color: rgb(255, 255, 255);
    }

    #col-sx .nome, .stato, .ora {
        display: none;
    }
    
    /* COLONNA DESTRA */

    #col-dx {
        width: 90%;
    }

    /* ME */

    #col-sx .icone {
        display: none;
    }

    /* IMG + CONTATTO */

    #col-dx .icone {
        display: block;
    }

    i {
        padding: 0 5px;
        color: gray;
    }

}

/*********
MEDIA PC
**********/

@media screen and (min-width: 992px)  {

    .container {
        width: 80%;
        height: 90%;
        display: flex;
        margin: auto;
    }

    /* COLONNA SINISTRA */

    #col-sx {
        width: 30%;
    }

    /* ME*/

    #col-sx .me {
        height: 70px;
    }

    #col-sx .icone {
        display: block;
    }

    #col-sx .notifiche {
        height: 90px;
        background-color: rgb(46, 213, 239);
    }

    #col-sx .cerca {
        height: 50px;
        background-color: rgb(167, 198, 43);
    }

    /* RUBRICA*/

    #col-sx .rubrica {
        height: calc(100% - 210px);
    }

    #col-sx .nome, .stato, .ora {
        display: block;
    }


    /* COLONNA DESTRA */

    #col-dx {
        width: 70%;
    }
    
}



